@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 60px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 90px;
  line-height: 54px;
  color: #222;
  padding: 30px 0;
}

h4 {
  font-size: 40px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 20px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
  /* background-color: rgba(28, 13, 13, 0.266); */
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 24px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}

/* Header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(209, 114, 114);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(30, 0, 0);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: rgb(30, 0, 0);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home page */

#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: rgb(8, 140, 85);
}
#hero h2 {
  color: white;
  mix-blend-mode: normal;
  text-shadow: 0 5px 10px rgb(13, 13, 13);
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: rgb(97, 5, 5);
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

/* Features */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 250px;
  height: 260px;
  text-align: center;
  padding: 25px 20px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(237, 167, 167);
  border-radius: 8px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(235, 40, 40, 0.1);
  border: 1px solid black;
  transition: 0.3s ease;
}

#feature .fe-box img {
  width: 100%;
  height: 75%;
  margin-bottom: 20px;
}

#feature .fe-box h6 {
  font-size: 20px;
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(50, 3, 3);
  background-color: rgba(164, 246, 239, 0.743);
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #ebbce2;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: rgba(164, 217, 246, 0.743);
}
#feature .fe-box:nth-child(5) h6 {
  background-color: rgba(167, 164, 246, 0.743);
}
#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(220, 180, 151);
}

/* products */

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 h1 {
  font-size: 80px;
}

#product1 .pro {
  width: 25%;
  min-width: 250px;
  padding: 15px 30px;
  border: 1px solid #f1a6a6;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 34px rgba(236, 175, 175, 0.1);
  margin: 15px -25px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

#product1 .pro img {
  width: 100%;
  border-radius: 15px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des .span {
  color: #465b52;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
}

#product1 .pro .des i {
  font-size: 15px;
  color: rgb(249, 215, 19);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(20, 125, 88);
}

#product1 .pro .cart {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: antiquewhite;
  font-weight: 500;
  color: rgb(86, 0, 0);
  border: 1px solid bisque;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .cart {
  font-size: 28px;
}
/* Banner */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 30px;
}

#banner h2 {
  color: white;
  font-size: 60px;
  padding: 20px 0;
}

#banner h2 span {
  color: red;
}

#banner button:hover {
  background-color: aquamarine;
  color: rgb(69, 7, 7);
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b17.jpg");
  width: 48%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 35px;
}

#sm-banner .banner-box h2 {
  mix-blend-mode: overlay;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

#sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}

#sm-banner h4 {
  color: white;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-weight: 800;
}

#sm-banner span {
  color: rgb(248, 247, 247);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: seagreen;
  border: 1px solid seagreen;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3 {
  background-image: url("img/banner/b18.jpg");
}

#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 45px;
}

#banner3 h3 {
  color: rgb(229, 47, 47);
  font-weight: 800;
  font-size: 35px;
}

/* Newsletter */

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: orange;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: seagreen;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 21px;
  padding-bottom: 20px;
}

footer p {
  font-size: 20px;
  margin-bottom: 8px;
}

footer a {
  font-size: 20px;
  text-decoration: none;
  color: #1a1a1a;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer h4 {
  font-size: 30px;
}
footer .icon {
  font-size: 25px;
}

footer .install .row img {
  border: 1px solid seagreen;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: rgb(240, 8, 8);
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop page */

#page-header {
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: bisque;
  border-radius: 4px;
  color: rgb(71, 4, 4);
  font-weight: 600;
  padding: 15px 20px;
  font-size: 30px;
}

#pagination a i {
  /* font-size: 30px; */
  font-weight: 800;
}

/* Sproducts */

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 28%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 45%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 7px 0;
  font-size: 30px;
}

#prodetails .single-pro-details h2 {
  font-size: 20px;
}
#prodetails .single-pro-details h6 {
  font-size: 15px;
}
#prodetails .single-pro-details select {
  font-size: 15px;
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: 600;
  border-radius: 5px;
}

#prodetails .single-pro-details option {
  font-weight: 600;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: seagreen;
  color: white;
  font-size: 13px;
  width: 20%;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  font-size: 15px;
}

/* Blog page */

#page-header.blog-header {
  background-image: url("img/banner/b19.jpg");
}

#blog {
  padding: 180px 180px 0 180px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 150px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#blog .blog-details {
  width: 80%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.2s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: seagreen;
}

#blog .blog-details a:hover::after {
  background-color: seagreen;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 80px;
  font-weight: 700;
  color: rgb(156, 156, 160);
  z-index: -9;
}

/* About page */

#page-header.about-header {
  background-image: url("img/about/banner.png");
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  padding-left: 50px;
}
#about-head marquee {
  font-size: 20px;
  font-weight: bold;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 60%;
  height: 90%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Contact page */

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 65%;
}

#contact-details .details span,
#form-details form {
  font-size: 20px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 36px;
  line-height: 35px;
  padding: 25px 0;
}

#contact-details .details h3 {
  font-size: 26px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 18px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 18px;
}

#contact-details .map {
  width: 50%;
  height: 500px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 60px;
  border: 1px solid #bbbbbb;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 70px;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #bbbbbb;
}

#form-details form button {
  background-color: seagreen;
  color: white;
}

#form-details .people div {
  padding-bottom: 35px;
  display: flex;
  align-items: start;
}

#form-details .people div img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

#form-details .people div span {
  display: block;
  font-size: 26px;
  font-weight: 600;
  color: black;
}


/* Cart page */

#cart{
  overflow-x: auto;
}

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table thead{
  border: 1px solid seagreen;
  border-left: none;
  border-right: none;
}
#cart table thead td{
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 20px;
}
#cart table tbody tr td i{
    color: red;
}
#cart table tbody td{
  font-size: 20px;
}

#cart table img{
  width: 150px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
  border-radius: 5px;
}

#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,#subtotal h3{
  padding-bottom: 15px;
  font-size: 32px;
}

#coupon input{
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  outline: none;
  width: 55%;
  margin-right: 10px;
  border: 1px solid seagreen;
}

#coupon button ,#subtotal button{
  background-color: seagreen;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid rgb(149, 144, 144);
  box-shadow: 20px 20px 20px 20px rgba(111, 109, 109, 0.2);
  padding: 30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td{
  width: 50%;
  border: 1px solid rgb(240, 233, 220);
  padding: 20px;
  font-size: 18px;
}

/* login */















/* Media Query */

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(209, 114, 114);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 25px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #hero h4 {
    font-size: 30px;
  }
  #hero h2 {
    font-size: 62px;
    color: white;
    mix-blend-mode: normal;
  }
  #hero h1 {
    font-size: 50px;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    width: 195px;
    height: 233px;
    margin: 15px 15px;
  }
  #feature .fe-box img {
    width: 100%;
    height: 70%;
    margin-bottom: 3px;
  }
  #product1 h1 {
    font-size: 56px;
  }

  p {
    font-size: 13px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 16px 16px;
  }

  #banner {
    height: 30vh;
  }
  #banner h4 {
    font-size: 20px;
  }
  #banner h2 {
    font-size: 30px;
  }
  #banner button {
    font-size: 12px;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #sm-banner h4 {
    font-size: 30px;
  }
  #sm-banner h2 {
    font-size: 62px;
  }
  #sm-banner span {
    font-size: 20px;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 26%;
    height: 30vh;
  }

  #banner3 h2 {
    font-size: 31px;
  }
  #banner3 h3 {
    font-size: 18px;
  }

  #newsletter .form {
    width: 70%;
  }

  footer .col {
    margin-bottom: 40px;
  }

  #prodetails .single-pro-details button {
    width: 62%;
  }
  #prodetails .single-pro-image {
    width: 60%;
    margin-right: 32px;
  }
  #blog {
    padding: 179px 45px 0 45px;
  }
  #blog img {
    height: 300px;
  }

  #about-head h2,
  h1 {
    font-size: 50px;
    /* padding: 19px 0; */
  }

  #about-app .video {
    width: 96%;
  }

  #contact-details .map {
    width: 57%;
    height: 400px;
  }
  #contact-details .details span,
  #form-details form {
    font-size: 15px;
  }
  #contact-details .details h2,
  #form-details form h2 {
    font-size: 24px;
  }
  #contact-details .details h3 {
    font-size: 20px;
  }
  #form-details .people div p {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
  }
  #form-details form {
    width: 65%;
    padding-left: 0;
    padding-right: 38px;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #hero h4 {
    font-size: 20px;
  }
  #hero h2 {
    font-size: 40px;
    padding: 5px 0;
  }
  #hero h1 {
    font-size: 30px;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 12px 12px 0;
  }
  #feature .fe-box h6 {
    font-size: 15px;
    margin-top: 10px;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #sm-banner h2 {
    font-size: 38px;
    padding: 3px 3px;
  }
  #sm-banner h4 {
    font-size: 20px;
  }
  #sm-banner span {
    font-size: 13px;
  }

  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  footer p {
    font-size: 14px;
  }

  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 70px;
  }
  #page-header {
    height: 30vh;
  }
  #page-header h2 {
    font-size: 40px;
    padding: 10px;
  }
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    padding-bottom: 30px;
  }

  #blog .blog-details h4 {
    font-size: 20px;
  }
  #blog .blog-details a {
    font-size: 11px;
  }
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
  }
  #about-head h2,
  h1 {
    font-size: 30px;
  }
  #feature .fe-box {
    height: 200px;
  }

  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
  }
  #contact-details .details span,
  #form-details form {
    font-size: 12px;
  }
  #contact-details .details h2,
  #form-details form h2 {
    font-size: 15px;
  }
  #contact-details .details h3 {
    font-size: 15px;
  }
  #contact-details .details li p {
    margin: 0;
    font-size: 12px;
  }
  #contact-details .map {
    width: 100%;
    height: 280px;
  }

  #form-details form {
    width: 100%;
    padding: 0px;
  }

  #form-details form input,
  #form-details form textarea {
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  #form-details {
    flex-direction: column;
    padding: 18px;
  }

  #form-details .people {
    margin-top: 30px;
  }
  #form-details .people div img {
    width: 100%;
    height: 90px;
  }

  #cart table tbody td {
    font-size: 15px;
}
#cart table thead td {
  font-size: 15px;
}

  #cart-add{
    flex-direction: column;
  }
  #coupon {
    width: 100%;
}
#coupon h3, #subtotal h3 {
  padding-bottom: 11px;
  font-size: 20px;
}
#coupon input {
  font-size: 10px;
  width: 68%;
}
#coupon button, #subtotal button {
  font-size: 15px;
  padding: 9px 20px;
}
#subtotal {
  width: 100%;
  margin-bottom: 30px;
  padding: 28px;
}
}
